/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body { margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; font-size: 0.76em; color: #333; }
	
	h1 { }
	h2 { }
	h3 { }
	h4 { }
	h5 { }
	h6 { }
	
	img { border: none; }
	
	#header { padding: 10px 0; background: #333; color: #FFF; }
	#header h1 { float: left; width: 240px; height: 102px; }
	#header h1 a { float: left; display: block; width: 240px; height: 102px; text-indent: -9999px; background: url('../images/logo-zap-four.png'); }
	#header h2 { margin: 50px 0 0; padding: 0px; color: orange; text-transform: lowercase; }
	
	#foursquareloginlink { float: right; height: 24px; width: 180px; }
	#foursquareloginlink span { float: right; display: block; height: 24px; width: 180px; text-indent: -9999px; background: url("../images/signinwithfoursquare.png") no-repeat; }
	
	#utility { margin: 0 0 30px; padding: 0; list-style: none; text-align: right; }
	#utility li { display: inline; padding-right: 6px; margin-left: 3px;  border-right: solid 1px gray; }
	#utility li.last { border-right: none; margin-right: -3px; }
	#utility a { color: #FFF; font-size: 0.9em; }
	
	#weather, #checkins { margin: 0; padding: 0; list-style: none; }
	#weather li { float: left; margin-right: 6px; }
	#weather a { float: left; padding: 33px 3px 3px 3px; width: 50px; height: 20px; background-color: #FFF; color: #0096FF; font-weight: bold; font-size: 1.4em; text-decoration: none; text-align: right; border: solid 4px #0096FF; background-repeat: no-repeat; background-position: 3px 3px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
	#weather li.rain a { background-image: url('../images/icons/rain.png'); }
	#weather li.snow a { background-image: url('../images/icons/snow.png'); }
	#weather li.fridged a { background-image: url('../images/icons/fridged.png'); }
	#weather li.warm a { background-image: url('../images/icons/warm.png'); }
	#weather li.hot a { background-image: url('../images/icons/hot.png'); }
	#weather li.cold a { background-image: url('../images/icons/cold.png'); }
	#weather li.cloudy a { background-image: url('../images/icons/cloudy.png'); }
	#weather li.thunderstorm a { background-image: url('../images/icons/thunderstorm.png'); }
	#weather li.partlysunny a { background-image: url('../images/icons/partlysunny.png'); }
	#weather li.na a { background-image: url('../images/icons/na.png'); }

	#checkins { float: right; }
	#checkins li { float: left; margin-right: 6px; }
	#checkins li.last { margin-right: 0px; }
	
	#navigation { padding: 10px 0; background: #EEE; border-bottom: solid 1px gray; }
	
	#content { margin: 1em 0;}

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}