/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body { margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; font-size: 0.76em; color: #333; background: #F8F8EE url('http://www.zappos.com/imgs/bg.20110419152830.png') repeat; }
	
	h1 { }
	h2 { }
	h3 { color: fuchsia; }
	h4 { }
	h5 { }
	h6 { }
	
	img { border: none; }
	
	#header, #footer { padding: 10px 0; background: #333; color: #FFF; }
	#header h1 { float: left; margin-right: 30px; width: 240px; height: 112px; }
	#header h1 a { float: left; display: block; width: 240px; height: 112px; text-indent: -9999px; background: url('../images/logo-zap-four.png'); }
	#header h2 { margin: 63px 0 0; padding: 0px; color: orange; text-transform: lowercase; }
	
	#foursquareloginlink { float: right; height: 24px; width: 180px; text-indent: -9999px; text-align: left; overflow: hidden; background: url("../images/signinwithfoursquare.png") no-repeat; }
	
	#utility { margin: 0 0 30px; padding: 0; list-style: none; text-align: right; }
	#utility li { display: inline; }
	#utility li.last a { border-right: none; padding-right: -3px; }
	#utility a { color: #FFF; font-size: 0.9em; margin-left: 0.7em; padding-right: 1em;  border-right: solid 1px gray; }
	#utility a.twitter { display: inline-block; width: 16px; height: 16px; text-align: left; overflow: hidden; text-indent: -999px; background: url('../images/twitter.png') no-repeat; }
	
	#weather, #checkins { margin: 0; padding: 0; list-style: none; }
	#weather li { float: left; margin-right: 6px; }
	#weather a { float: left; padding: 33px 3px 3px 3px; width: 50px; height: 20px; background-color: #FFF; color: #0096FF; font-weight: bold; font-size: 1.4em; text-decoration: none; text-align: right; border: solid 4px #0096FF; background-repeat: no-repeat; background-position: 3px 3px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
	#weather li.rain a { background-image: url('/z4/images/icons/rain.png'); }
	#weather li.snow a { background-image: url('/z4/images/icons/snow.png'); }
	#weather li.fridged a { background-image: url('/z4/images/icons/fridged.png'); }
	#weather li.warm a { background-image: url('/z4/images/icons/warm.png'); }
	#weather li.hot a { background-image: url('/z4/images/icons/hot.png'); }
	#weather li.cold a { background-image: url('/z4/images/icons/cold.png'); }
	#weather li.cloudy a { background-image: url('/z4/images/icons/cloudy.png'); }
	#weather li.thunderstorm a { background-image: url('/z4/images/icons/thunderstorm.png'); }
	#weather li.partlysunny a { background-image: url('/z4/images/icons/partlysunny.png'); }
	#weather li.na a { background-image: url('/z4/images/icons/na.png'); }

	#checkins { float: right; }
	#checkins li { float: left; margin-right: 6px; }
	#checkins li.last { margin-right: 0px; }
	
	#middle { padding-top: 4px; text-align: center; }
	
	#navigation { padding: 10px 0; background: #EEE url('http://www.zappos.com/imgs/stripeBG.20110419152841.png') repeat; border-bottom: solid 1px #CCC; }
	
	#content { margin: 20px 0; }
	#content .row { margin-bottom: 20px; }
	.product { padding: 6px; text-align: center; background: #FFF; border: solid 1px #CCC; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
	
	.productImg { height: 150px; }
	
	.tooltip { display:none; background:transparent url('http://flowplayer.org/tools/img/tooltip/black_arrow.png'); font-size:12px; height:70px; width:160px; padding:25px; color:#fff; text-align: center; font-weight: bold;}
	.right { text-align: right; }
	
	.products div { text-align: center; }
	
	#footer { padding: 20px 0 30px; }

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}