vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|30 Apr 2011 02:02:46 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|index.html
vti_author:SR|HPPC\\Cory
vti_modifiedby:SR|HPPC\\Cory
vti_timecreated:TR|30 Apr 2011 02:02:46 -0000
vti_cacheddtm:TX|30 Apr 2011 02:02:46 -0000
vti_filesize:IR|304
