vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|01 May 2011 08:52:05 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|index.php index_ryan.php index.html
vti_author:SR|HPPC\\Cory
vti_modifiedby:SR|HPPC\\Cory
vti_timecreated:TR|30 Apr 2011 02:02:46 -0000
vti_nexttolasttimemodified:TW|01 May 2011 08:51:34 -0000
vti_cacheddtm:TX|01 May 2011 08:51:34 -0000
vti_filesize:IR|3255
vti_cachedlinkinfo:VX|S|../images/logo-zap-four.png S|../images/signinwithfoursquare.png S|../images/icons/rain.png S|../images/icons/snow.png S|../images/icons/fridged.png S|../images/icons/warm.png S|../images/icons/hot.png S|../images/icons/cold.png S|../images/icons/cloudy.png S|../images/icons/thunderstorm.png S|../images/icons/partlysunny.png S|../images/icons/na.png
vti_cachedsvcrellinks:VX|FSUS|images/logo-zap-four.png FSUS|images/signinwithfoursquare.png FSUS|images/icons/rain.png FSUS|images/icons/snow.png FSUS|images/icons/fridged.png FSUS|images/icons/warm.png FSUS|images/icons/hot.png FSUS|images/icons/cold.png FSUS|images/icons/cloudy.png FSUS|images/icons/thunderstorm.png FSUS|images/icons/partlysunny.png NSUS|images/icons/na.png
