vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|01 May 2011 12:02:38 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|index.php index_ryan.php index.html
vti_author:SR|HPPC\\Cory
vti_modifiedby:SR|HPPC\\Cory
vti_timecreated:TR|30 Apr 2011 02:02:46 -0000
vti_nexttolasttimemodified:TW|01 May 2011 12:01:52 -0000
vti_cacheddtm:TX|01 May 2011 12:02:38 -0000
vti_filesize:IR|4181
vti_cachedlinkinfo:VX|S|http://www.zappos.com/imgs/bg.20110419152830.png S|../images/logo-zap-four.png S|../images/signinwithfoursquare.png S|../images/twitter.png S|../images/icons/rain.png S|../images/icons/snow.png S|../images/icons/fridged.png S|../images/icons/warm.png S|../images/icons/hot.png S|../images/icons/cold.png S|../images/icons/cloudy.png S|../images/icons/thunderstorm.png S|../images/icons/partlysunny.png S|../images/icons/na.png S|http://www.zappos.com/imgs/stripeBG.20110419152841.png S|http://flowplayer.org/tools/img/tooltip/black_arrow.png
vti_cachedsvcrellinks:VX|NSHS|http://www.zappos.com/imgs/bg.20110419152830.png FSUS|images/logo-zap-four.png FSUS|images/signinwithfoursquare.png FSUS|images/twitter.png FSUS|images/icons/rain.png FSUS|images/icons/snow.png FSUS|images/icons/fridged.png FSUS|images/icons/warm.png FSUS|images/icons/hot.png FSUS|images/icons/cold.png FSUS|images/icons/cloudy.png FSUS|images/icons/thunderstorm.png FSUS|images/icons/partlysunny.png FSUS|images/icons/na.png NSHS|http://www.zappos.com/imgs/stripeBG.20110419152841.png NSHS|http://flowplayer.org/tools/img/tooltip/black_arrow.png
